.subTitle {
  position: relative;
  margin-bottom: 40% !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  color: #ffffff;
}
